---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}
<div style="display:flex; flex-wrap:wrap; gap:2rem; align-items:flex-start;">
<div style="flex:1 1 250px; min-width:250px;">
  {% include google-form
  title="Contact Me -"
  src="https://forms.gle/Xc1QBtWjCrnRY9V2A"
  height="800"
%}
</div>

<div style="flex:1 1 250px; min-width:250px;">
<h2>My Information -</h2>
 {% include download
  title="Download my CV -"
  url="/assets/downloads/Project-proposal.pdf"
  button_label="Download my CV."
  download="Project-proposal.pdf"
%}
<p>
You can download my CV from the link above, this will contain my information such as qualifcation, experience and my refreeses from employer/lectures.
</p>
  
<h2>Social links -</h2>
<p>
Visit my socials, so you can see my lastest projects and any events i maybe attennding in the future.
<br> <br>
<i class="fa-brands fa-github"></i> <a href="https://github.com/ArcticL1">Visit My GitHub</a>  
<br> <br>
<i class="fa-solid fa-envelope"></i> <a href="mailto:Esler-l1@ulster.ac.uk">Send Email</a>
<br> <br>
<i class="fa-brands fa-linkedin"></i> <a href="https://uk.linkedin.com/in/lewis-esler-9a787b3b3">Visit My Linkedin</a>
<br> <br>
<i class="fa-brands fa-bluesky"></i> <a href="https://bsky.app/profile/vivitheclown.bsky.social">Visit My BlueSky</a>
</p>

</div>
</div>
<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
</div>
