---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}
<h2>2D Project</h2> 
<div style="display:flex; flex-wrap:wrap; gap:2rem; align-items:flex-start;">
<div style="flex:1 1 250px; min-width:250px;">
<p>
<br>
<b>Cat-acombs - </b><br>
This is a top-down dungeon crawler, where you, the player, play as a cat exploring the dungeon, fighting off hordes of hoards od rats with your scarf. The game aims to help that cat escape the catacombs by solving puzzles, fighting rats and defeating an unholy boss. <br> <br>
cat-acombs has a designed to feel like a old churchs catacombs and having the boss feel like was summoned in church main hall, this game has alot of small feacture such as pot breaking and having the cats eye light up in dark places. 
</p>
</div>

<div style="flex:1 1 250px; min-width:250px;">
{% include figure image_path="/assets/images/image_2026-04-09_163140160.png" alt="Game Jam screenshot" %}
</div>
</div>
<div style="display:flex; flex-wrap:wrap; gap:2rem; align-items:flex-start;">
<div style="flex:1 1 250px; min-width:250px;">
{% include video id="kjEBbhHhIYk" provider="youtube" %}
</div>

<div style="flex:1 1 250px; min-width:250px;">
<p>
<b>Experience - </b><br>
The experience of creating my first 2D game using Unity was challenging at times, such as creating the AI that my rats used to path find to the player, but other times it was fun to get to know the processes of game creation, from tile mapping, sprite creation, and over level design/ worldbuilding. <br> Though this was the first time creating a 2D game using C# and Unity, I was still learning while creating, as it is still a demo, it will have bugs pointed out in the video.
</p>
</div>
</div>
<h2></h2> 

<h2>Boardgame</h2> 
<div style="display:flex; flex-wrap:wrap; gap:2rem; align-items:flex-start;">
<div style="flex:1 1 250px; min-width:250px;">
<p>
<b>Mecha –</b> <br>
This is a multiplayer, turn-based board game where movement is determined by rolling a D6 die. With up to four players, each takes turns racing around the board to collect pieces and parts for their mech. The main goal for players is to finish building their mech before others, This includes stealing and duelling to seize the chance to obtain the crucial parts of other players and make use of the perk cards to gove them tactical advantages. <br><br> 
Player can make use of a number of different spaces around the board to help the process in the game such as recyclers, shop and combat tiles. 
</p>
</div>
<h2></h2> 
  
<div style="flex:1 1 250px; min-width:250px;">
<P><br></P>
{% include video id="UumIEOoHxgs" provider="youtube" %}
</div>
</div>

<p>
<br>
<b>Experience -</b><br>
The experience I had with building the board game is new, as I had no personal experience of creating them before, but going through the processes such as game-design documentation, user testing and getting my game finalised was a fun experience, as I could create my idea without having limitations in areas I wasn’t just as strong in yet. The experience of creating mecha was overall fun as it allowed me to use skills I already had, such as digital art for my game cards and hands-on work with game components. 
</p>

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
</div>
<h2></h2>  
<h2>3D Project</h2> 


<div style="display:flex; flex-wrap:wrap; gap:2rem; align-items:flex-start;">
<div style="flex:1 1 250px; min-width:250px;">
{% include figure image_path="/assets/images/Screenshot_2025-12-06_111340.png" alt="Game Jam screenshot" %}
</div>

<div style="flex:1 1 250px; min-width:250px;">
<p>
<br>
This 3d project was the first-time using software such as ProBuilder. This project was on 3D graphics and level design to build a small work to get an understanding of how it was made, such as the use of texturing, Gray boxing and skyboxes. <br> <br>
The design I created is based on a medieval battle arena, showcasing elements like a viewing stand, barracks, weaponry, and castle structures. In the video below, there is a walkthrough of the map showing this off.
</p>
</div>
</div>

<div style="display:flex; flex-wrap:wrap; gap:2rem; align-items:flex-start;">
<div style="flex:1 1 250px; min-width:250px;">
<p>
<b>Experience -</b><br>
Over the time, building and learning 3D graphics in Probuilder, I have become more confident with it. However, I still feel there is room to improve, such as small texture errors and a personal issue with being too perfectionistic about how objects were placed. Though I feel that over time, using this tool, I will eventually not run into these small errors.
Eventually, I would like to learn how to produce textures myself, as this will allow me to have more control over the vision of these worlds I want to create. 
</p>
</div>

<div style="flex:1 1 250px; min-width:250px;">
{% include video id="GhYRNHMr_bE" provider="youtube" %}
</div>
</div>
<h2></h2> 
